body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: black;
    color: white;
}

.container {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin: auto;
}

h2 {
    color: red;
    text-align: center;
}

.product-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

.product-item img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.total {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
    text-align: right;
    color: white;
}

#checkout, #back {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

#checkout:hover, #back:hover {
    background-color: darkred;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

.remove-button:hover {
    background-color: darkred;
}
